@using Blog.Application.Statics
@model List<Blog.Application.ViewModels.Categories.CategoryViewModel>
<section class="py-3 my-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Slider -->
                <div class="tiny-slider arrow-hover arrow-dark arrow-round">
                    <div class="tiny-slider-inner"
                         data-autoplay="false"
                         data-hoverpause="true"
                         data-gutter="24"
                         data-arrow="true"
                         data-dots="false"
                         data-items-xl="5"
                         data-items-lg="4"
                         data-items-md="3"
                         data-items-sm="2"
                         data-items-xs="2">
                        <!-- Category item -->

                        @if(Model.Any() && Model != null)
                        {
                            
                            @foreach(var item in Model)
                            {
                                <div>
                                    <div class="card card-overlay-bottom card-img-scale">
                                        <img class="card-img" src="@PathTools.CategoryThumbImagePath@item.Image" alt="card image">
                                        <div class="card-img-overlay d-flex px-3 px-sm-5">
                                            <h5 class="mt-auto mx-auto">
                                                <a href="/Posts/Index/@item.Slug" class="stretched-link btn-link text-white">@item.Title</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                    </div>
                </div> <!-- Slider END -->
            </div>
        </div>
    </div>
</section>