@page "/login"
@model Blog.Web.Pages.Accounts.LoginModel
@{
    ViewData["Title"] = "ورود";
    Layout = "_AuthLayout";
}


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
                <div class="p-4 p-sm-5 bg-primary bg-opacity-10 rounded">
                    <h2>ورود به حساب کاربری</h2>
                    <!-- Form START -->
                    <form method="post" class="mt-4">
                        <input type="hidden" asp-for="Login.ReturnUrl" />
                        <!-- Email -->
                        <div class="mb-3">
                            <label class="form-label" for="">ایمیل یا نام کاربری</label>
                            <input asp-for="Login.UserNameOrEmail" type="text" class="form-control" id="exampleInputEmail1" placeholder="ایمیل">
                        </div>
                        <!-- Password -->
                        <div class="mb-3">
                            <label class="form-label" for="exampleInputPassword1">کلمه عبور عبور</label>
                            <input asp-for="Login.Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="*********">
                        </div>
                        <!-- Checkbox -->
                        <div class="mb-3 form-check">
                            <input asp-for="Login.RememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">مرا به خاطر بسپار</label>
                        </div>

                        <div class="text-danger" asp-validation-summary="All"></div>

                        <!-- Button -->
                        <div class="row align-items-center">
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-success">ورود </button>
                            </div>
                            <div class="col-sm-8 text-sm-end">
                                <span>آیا هنوز ثبت نام نکرده اید؟ <a href="/register"><u>ثبت نام</u></a></span>
                            </div>
                            <div class="col-sm-8 text-sm-end">
                                <span>آیا کلمه عبور خود را فراموش کرده اید؟ <a href="/forgot-pass"><u>فراموشی کلمه عبور</u></a></span>
                            </div>
                        </div>
                    </form>
                    <!-- Form END -->
                    <hr>
                    <!-- Social-media btn -->
                </div>
            </div>
        </div>
    </div>
</section>