@page "/change-pass"
@model Blog.Web.Areas.UserPanel.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}


<section class="py-4">
    <div class="container">


        <form method="post">
            <div class="row g-4">
                <!-- Left sidebar START -->
                <div class="col-lg-7 col-xxl-8">
                    <!-- Profile START -->
                    <div class="card border mb-4">
                        <div class="card-header border-bottom p-3">
                            <h4 class="card-header-title mb-0">@ViewData["Title"]</h4>
                        </div>
                        <div class="card-body">
                            <!-- Full name -->

                            <div class="mb-3">
                                <label class="form-label">کلمه عبور فعلی</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" asp-for="Change.OldPassword">
                                </div>
                            </div>
                      

                            <div class="mb-3">
                                <label class="form-label">کلمه عبور جدید</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" asp-for="Change.Password">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">تکرارر کلمه عبور جدید</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" asp-for="Change.ConfirmPassword">
                                </div>
                            </div>


                            <div asp-validation-summary="All" class="text-danger"></div>

                            <!-- Save button -->
                            <div class="d-flex justify-content-end mt-4">
                                <button type="submit" class="btn btn-primary">ذخیره</button>
                            </div>
                        </div>
                    </div>
                    <!-- Profile END -->

                </div>

            </div>
        </form>
    </div>
</section>